/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    text-decoration: none;
}

body {
    line-height:1;
    background: #F6F6F6;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}


a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

ol, ul {
    list-style: none
}

.font12px {
  font-size: 12px;
}

.font14px {
  font-size: 14px;
}
.font16px {
    font-size: 16px;
}
.font18px {
    font-size: 16px;
}
.font20px {
    font-size: 16px;
}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
 }
 
.placeholder{
	opacity:0.5;
	filter:alpha(opacity=50);
}
/*--清除谷歌浏览器下的 search 叉号*/
input::-webkit-search-cancel-button{
  display: none;
}
/* --清除IE下的 search 叉号 */
input::-ms-clear { display: none; }