<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js" lang="en">  <!--<![endif]-->
<!-- <html lang="en"> -->
 <head>
  <title>中国好食材微商城</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--IE10-->
  <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10"/>
  <meta name=”renderer” content=”webkit|ie-comp|ie-stand”/>
  <script src="js/lib/es5-shim.min.js"></script>
  <script src="js/lib/es5-sham.min.js"></script>
  <script src="js/lib/json3.min.js"></script>
  <script src="js/lib/template-web.js"></script>
  	<!--[if lte IE 8]> 
		 <noscript>
		      <style>.html5-wrappers{display:none!important;}</style>
		      <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
		      </div>
		 </noscript>
	<![endif]-->
  <!-- CSS styles -->
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/common.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
 </head>
 <body>
	<div class="header font16px">
		<div class="personalcenter">
			<div class="center" >
				<ul class="clearfix nologin" id="nologinstatus">
					<li>
						<a href="#">加入收藏</a>
					</li>
					<li  class="after">
						<a href="#">帮助中心</a>
					</li>
					<li class="after">
						<a href="#">联系我们</a>
					</li>
					<li class="user">
						<a href="#" class="login" id="login">Hi, 请登陆</a>
						<a href="#" class="register">注册</a>
					</li>
				</ul>
				<ul class="loginsuccess" id="loginstatus">
					<div class="exit" id="extilogin">退出</div>
					<div class="joincollect">加入收藏</div>
					<div class="user">欢迎您, <span class="username">陈达到达到</span></div>
				</ul>	
			</div>
		</div>
		<div class="brand clearfix">
			<div class="logo">
				<a href="index.html">
					<img src="http://placehold.it/200x120" alt="">
				</a>
			</div>
			<div class="search">
				<input type="text" class="searchcontent" placeholder="请输入关键词">
				<div class="iconsearch"><i class="icon-search"></i></div>
			</div>
		</div>
		<div class="menu font20px"  id="menu">
			<ul>
				<li class="active">
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="html/Supply.html">供应大厅</a>
				</li>
				<li>
					<a href="html/Purchasing.html">采购大厅</a>
				</li>
				<li>
					<a href="html/industryinformation.html">行业资讯</a>
				</li>
				<li>
					<a href="html/traceability.html">农产品溯源</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container" id="container">
		<div class="banner" id="banner">
			<ul>
				<li><img class="sliderimg" src="./images/bg/center.png" alt="" width="100%" ></li>
				<li><img class="sliderimg" src="./images/bg/center.png" alt="" width="100%" ></li>
				<li><img class="sliderimg" src="./images/bg/center.png" alt="" width="100%" ></li>
				<li><img class="sliderimg" src="./images/bg/center.png" alt="" width="100%" ></li>
				<li><img class="sliderimg" src="./images/bg/center.png" alt="" width="100%" ></li>
			</ul>
			<a href="javascript:void(0);" class="unslider-arrow06 prev"><img class="arrow" id="al" src="./images/bg/arrowl.png" alt="prev" width="20" height="35"></a>
			<a href="javascript:void(0);" class="unslider-arrow06 next"><img class="arrow" id="ar" src="./images/bg/arrowr.png" alt="next" width="20" height="37"></a>
		</div>
		<div class="product">
			<div class="productbg"></div>
			<div class="provision">
				<div class="title">
					<p>最新供应 </p>
					<i class="icon-more"></i>
				</div>
				<ul id="provisionproductlist"></ul>
			</div>
			<div class="provision">
				<div class="title">
					<p>最新采购 </p>
					<i class="icon-more"></i>
				</div>
				<ul id="purchaseproductlist"></ul>
			</div>
		</div>
		<div class="message" >
				<div class="title">
					<i class="icon-message"></i>
					<h4>行业资讯</h4>
					<i class="icon-more"></i>
				</div>
				<div id="industryinformation">
					<div class="information">
						<div class="bg icon-school"></div>
						<div class="special">
							<h2></h2>
							<p class="Projectreview" id="Projectreview2"></p>
							<ul>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="information">
						<div class="bg icon-becomerich"></div>
						<div class="special">
							<h2></h2>
							<p class="Projectreview" id="Projectreview2"></p>
							<ul>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="information">
						<div class="bg icon-policy"></div>
						<div class="special">
							<h2></h2>
							<p class="Projectreview" id="Projectreview2"></p>
							<ul>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="information">
						<div class="bg icon-economics"></div>
						<div class="special">
							<h2></h2>
							<p class="Projectreview" id="Projectreview2"></p>
							<ul>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
								<li>
									<p></p>
									<span class="time"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="footer">
		<div class="server">
			<div class="trademark">
				<ul>
					<li>
						<div>
							<i class="icon-tree"></i>
							<div>
								<p>资源多</p>
								<p>海量信息免费发</p>
							</div>	
						</div>	
					</li>
					<li>
						<div>
							<i class="icon-news"></i>
							<div>
								<p>资讯全</p>
								<p>最新资讯抢先看</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<i class="icon-book"></i>
							<div>
								<p>农学堂</p>
								<p>最新技能免费学</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<i class="icon-safety"></i>
							<div>
								<p>更安全</p>
								<p>实名认证更安心</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="guide">
				<div class="new">
					<p>新手指南</p>
					<div>
						<a href="#">注册新用户</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">实名认证</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">找回密码</a>
					</div>
				</div>
				<div class="purchase">
					<p>采购商服务</p>
					<div>
						<a href="#">找采购</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">发布采购</a>
					</div>
				</div>
				<div class="provision">
					<p>供应商服务</p>
					<div>
						<a href="#">找供应</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">发布供应</a>
					</div>
				</div>
				<div class="transactionsafety ">
					<p>交易安全</p>
					<div>
						<a href="#">卖家防骗</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">营销推广</a>&nbsp;&nbsp;|&nbsp;
						<a href="#">买家防骗</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="./js/common.js"></script>
	<script id="Tprovisionproduct" type="text/html">
		{{if success}}
			{{if productlist}}
				{{each productlist item index}}
				<li>
					<a href="html/PurchasingDetail.html?{{item.id}}">
						<span class="time">{{item.time}}</span>
						<span class="productname" title="{{item.product}}">{{item.product}}</span>
						<span class="price">{{item.metering}}</span>
					</a>
				</li>
				{{/each}}
			{{else}}
				{{each provisionproductlist item index}}
				<li>
					<a href="html/aa.html?{{item.id}}">
						<span class="time">{{item.time}}</span>
						<span class="productname"  title="{{item.product}}">{{item.product}}</span>
						<span class="price">{{item.metering}}</span>
					</a>
				</li>
				{{/each}}
			{{/if}}
		{{/if}}
	</script>
	<script id="Tindustryinformation" type="text/html">
		{{if success}}
			{{each industryinformation item index}}			
			<div class="information">
					<div class="bg {{industryinformation.imgarr[index]}}"></div>
					<div class="special">
				<a href="index.html?{{item.id}}">
					<h2 title="{{item.title}}">{{item.title}}</h2>
					<p class="Projectreview" title="{{item.detail}}">{{item.detail}}</p>
				</a>
					<ul>
						{{each item.meslist list i}}
						<li>
							<a href="index.html?{{list.id}}">
								<p title="{{list.title}}">{{list.title}}</p>
								<span class="time">{{list.time}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			{{/each}}
		{{/if}}
	</script>
	<script>
		// 輪播圖
		function imgReload(){
			var imgHeight = 0;
			var wtmp = $("#banner").width();
			$("#banner ul li").each(function(){
				$(this).css({width:wtmp + "px"});
			});
			$(".sliderimg").each(function(){
				$(this).css({width:wtmp + "px"});
				imgHeight = $(this).height();
				console.log(imgHeight)
			});
		}
		$(window).resize(function(){imgReload();});
		$(document).ready(function(e) {
			imgReload();
			var unslider06 = $('#banner').unslider({
				dots: true,
				fluid: true
			}),
			data06 = unslider06.data('unslider');
			$('.unslider-arrow06').click(function() {
				var fn = this.className.split(' ')[1];
				data06[fn]();
			});
		});

		$(function () {
			console.dir(template)
		
			/**
			 * 初始化
			 * 首页商品列表初始化 
			 */
			$.ajax({ // 最新供应
				type: 'get',
				url: 'https://www.easy-mock.com/mock/5b763234f989ec12eb03db9c/product',
				success: function  (data) {
					console.log(data)
					var productlist = template('Tprovisionproduct', data)
					$('#provisionproductlist').html(productlist)
				}
			})
			$.ajax({ // 最新采购
				type: 'get',
				url: 'https://www.easy-mock.com/mock/5b763234f989ec12eb03db9c/product1',
				success: function (data) {
					var productlist = template('Tprovisionproduct', data)
					$('#purchaseproductlist').html(productlist)
				}
			})
			$.ajax({ // 行业资讯
				tpye: 'get',
				url: 'https://www.easy-mock.com/mock/5b763234f989ec12eb03db9c/industryinformation',
				success: function  (data) {
					console.log(data)
					var imgclass = [ // 图片类名
						'icon-school',
						'icon-becomerich',
						'icon-policy',
						'icon-economics'
					]
					data.industryinformation.imgarr = imgclass
					var industryinformation = template('Tindustryinformation', data)
					$('#industryinformation').html(industryinformation)
					
					// 必须在ajax请求后
					// 多行文本隐藏
					var textnumber = 100 // 超过该字数隐藏
					$.each($('#industryinformation').children(),function (i, item) {
						if ($(this).find('.Projectreview').text().length > textnumber) {
							$(this).find('.Projectreview').html($(this).text().slice(0,textnumber) + '......')
						}
					})
				}

			})
		})
	</script>
 </body>
 </html>