body {
    overflow: hidden;
}
.search {
    display: flex;
    justify-content: space-between;
    height: 44px;
    background: #fff;
}
.search .icon-sao{
    display: inline-block;
    width: 40px;
    height: 44px;
    line-height: 44px;
    background: url(../images/icon/Flickinga.png) center no-repeat;
    background-size: 25px 29px;
    padding-left: 10px;
}
.search .space {
    width: 40px;
}
.search .searchcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 0;
}
.search .searchcontent input{
    width: 80%;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    box-sizing: border-box;
    border: 1px solid #D3E7A4;
    vertical-align: middle;
    font-size: 12px;

}
.search .searchcontent .icon-search {
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    background: #D3E7A4 url(../images/icon/search.png) center no-repeat;
    background-size: 20px 16px;
    vertical-align: middle;
}
.publicity {
    width: 100%;
}
.publicity .image {
    height: 210px;
    width: 100%;
    background: url(../images/bg/bg.png) center no-repeat;
    background-size: 100% 210px;
}
.publicity h2 {
    padding: 50px 0;
    text-align: center;
    font-size: 29px;
    color: #fff;
}
.publicity  .smallbg {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    background: url(../images/bg/bgs.png) center no-repeat;
    background-size: 330px 25px;
}
.publicity .recore {
    height: 389px;
    width: 100%;
    background: url(../images/icon/recore.png) center no-repeat;
    background-size: 280px  360px;
}